body{
    background-color: cadetblue;
}

.s1{
    text-align: left;
    color: green;
    font-family: fantasy;
}

.s2{
    text-align: center;
    color: yellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.s3{
    text-align: right;
    color: darkblue;
    font-family: unset;
}